Lat: {{model.latitude}}
Lon: {{model.longitude}}

<h4>
  Right now:
</h4>
<h1>
  {{roundTemp}} & {{model.currently.summary}}
</h1>

<button {{action 'refreshForecast'}} class="button">Refresh</button>
Last update: {{model.currently.time}}

{{yield}}
